body{
    background:#fefeff;
    padding: 0;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

}
.menu{
    color: #90c61e;
    font-size: 50px;
    padding-top: 5px;
}

#points{
    width: 100%;
    height: calc(100vh - 0px);
    position: fixed;
    top: 0px;
    left: 0px;
}
.contBtn{
    justify-content: center;
    padding-top: 230px;
}
.formBtn{
    border-radius: 100px !important;
    width: 150px;
    height: 150px;
}


.anim, .anim /* svg */ {
    position: relative;
    width: 300px;
    height: 200px;
    color: black;
  }
  .anim path {
    stroke:green !important;
  }

#divMloreto {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 300px;
    margin-left: -200px;
    margin-top: -150px;
    color: black;
}
#svgMloreto {
    width: 400px;
    height: 300px;
    color: black;
}
.menuLink{
    position: relative !important;
    top: -100px !important;
    left: 180px !important;
    display: none;
}