body{
    background-color: rgb(34, 34, 34);
    background-repeat: repeat-y;
    padding: 0;
    margin: 0 !important;
}
.colorNav{
    background-color: rgb(20, 20, 20)!important;
}
.navBtnColor{
    padding-top: 23px;
    color: #b9b9b9;
    margin-left: 20px;
    margin-right: 20px;
}
#points{
    width: 100%;
    height: calc(100vh - 0px);
    position: fixed;
    top: 0px;
    left: 0px;
    opacity:0.9;
}
.contCentral{
    justify-content: center;
    padding-top: 150px;
}
.backGroundColorText{
    /*background-color:#5454552f;*/
    background-color:grey;
    opacity: 0.7;
    border-radius: 5px;
    width: 90%;
    height: calc(100vh - 0px);
    z-index: 1;
}
.textTitles{
    color:white !important;
    z-index: 3;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    opacity:none;
}

