body{
    background-color: #ffffff;
    background-repeat: repeat-y;
    padding: 0;
    margin: 0 !important;
    width: 100%;
}
.colorNav{
}

.nombreTitle{
    margin: 0px;
    max-width: 100%;
    text-align: left;
    font-size: 50px !important;
}

.titleHabilidades{
    margin: 0px;
    max-width: 100%;
    text-align: left;
    margin-top: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    color: #37464f;
}

.titleLogros{
    margin: 0px;
    max-width: 100%;
    text-align: left;
    margin-top: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    color: #37464f;
}

.titleContacto{
    margin: 0px;
    max-width: 100%;
    text-align: left;
    margin-top: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    color: #37464f;
}

.navBtnColor{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    padding-top: 15px;
    color: #90c61e;
    margin-left: 0px;
    margin-right: 20px;
}
.navBtnColor :hover{
    color: yellow;
}

#points{
    width: 100%;
    height: calc(100vh - 0px);
    position: fixed;
    top: 0px;
    left: 0px;
    opacity:0.9;
}

.row1{
    margin-top: 0;
}

.row2{
    margin-top: 8%;
}

.imgFoto{
    border-radius: 100%;
    width: 300px;
    height: 300px;
}

.contCentral{
    justify-content: center;
    padding-top: 5%;
    height: calc(100vh - 0px);
}

.textMe{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    color: #37464f;
}

.nombreTitle{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    color: #37464f;
}

/* Stylos Modal */  

.styleModal{
    background-color: rgb(0, 0, 0) !important;
}

.modal-body{
    background-color:rgb(0, 0, 0) !important;
    text-align: center !important;
}

.modal-content{
    border:0px !important;
}

.btn-secondary{
    background-color: transparent !important;
    border-color: transparent !important;
}

.upIcon{ /* Icono Modal Close*/ 
    color: #90c61e;
    font-size: 70px;
}

.upIcon:hover { 
    color: yellow;
}

.inicioAnim{
    margin-top: 10px;
    color: white;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.inicioAnim:hover{ 
    color: #90c61e;
}

.sobreMi{
    margin-top: 10px;
    color: white;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.sobreMi:hover { 
    color: #90c61e;
}

.proyectos{
    margin-top: 10px;
    color: white;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.proyectos:hover { 
    color: #90c61e;
}

.contacto{
    color: white;
    margin-top: 10px;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.contacto:hover { 
    color:#90c61e;
}

.fa-github{
    color: white;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 30px;
}

.fa-github:hover { 
    color:  #90c61e;
}

.fa-linkedin-in{
    color: white;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 30px;
}

.fa-linkedin-in:hover{
    color:  #90c61e;
}

/* End Icono Modal Close*/ 




