body{
    font-family: 'Roboto Condensed', sans-serif;
}
#points{
    width: 100%;
    height: calc(100vh - 0px);
    position: fixed;
    top: 0px;
    left: 0px;
}

.grey{
    color: #37464f;
}

.imgFoto{
    border-radius: 100%;
    width: 300px;
    height: 300px;
}

.aire{
    padding: 20px;
}

.verde{
    color:#90c61e;
}

.btn-verde{
   background-color: #90c61e; 
}

h3{
    padding: 30px 0px 15px 0px;
}



.skills{
    font-size: 3em;
    color: grey;
    margin-bottom: 15px;
}

li{
    list-style: none;
}

.row{
    margin-bottom: 15px;
}

.styleIcon{
    color: #90c61e !important;
    font-size: 30px;
    margin-bottom: 6px !important;
    margin-left: -5px;
}
.styleIcon :hover{
    color: yellow !important;
}

/* Stylos Modal */  

.styleModal{
    background-color: rgb(0, 0, 0) !important;
}

.modal-body{
    background-color:rgb(0, 0, 0) !important;
    text-align: center !important;
}

.modal-content{
    border:0px !important;
}

.btn-secondary{
    background-color: transparent !important;
    border-color: transparent !important;
}

.upIcon{ /* Icono Modal Close*/ 
    color: #90c61e;
    font-size: 70px;
}

.upIcon:hover { 
    color: yellow;
}

.inicioAnim{
    margin-top: 10px;
    color: white;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.inicioAnim:hover{ 
    color: #90c61e;
}

.sobreMi{
    margin-top: 10px;
    color: white;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.sobreMi:hover { 
    color: #90c61e;
}

.proyectos{
    margin-top: 10px;
    color: white;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.proyectos:hover { 
    color: #90c61e;
}

.contacto{
    color: white;
    margin-top: 10px;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.contacto:hover { 
    color:#90c61e;
}

.fa-github{
    color: white;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 30px;
}

.fa-github:hover { 
    color:  #90c61e;
}

.fa-linkedin-in{
    color: white;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 30px;
}

.fa-linkedin-in:hover{
    color:  #90c61e;
}

/* End Icono Modal Close*/

/* formulario */
  form {
    width: auto;
    background: white;
    padding: 20px 25px;
    margin: auto;
    margin-top: 30px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    border-radius: 15px;
  }
  form input,
  form textarea {
    font: inherit;
    padding: 5px 5px;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  form button {
    border: 1px solid #90c61e;
    padding: 8px 35px;
    font-size: 12px;
    background: #90c61e;
    color: white;
    border-radius: 5px;
  }
  form label {
    color: #777;
    font-size: 11px;
    margin-bottom: 2px;
    display: block;
  }