body{
    font-family: 'Roboto Condensed', sans-serif;
}

#points{
    width: 100%;
    height: calc(100vh - 0px);
    position: fixed;
    top: 0px;
    left: 0px;
}

.grey{
    color: #37464f;
}

.imgFoto{
    border-radius: 100%;
    width: 300px;
    height: 300px;
}

.aire{
    padding: 20px;
}

.backG{
    background-color: #90c61e;
}

.verde{
    color:#90c61e;
}

.btn-verde{
   background-color: #90c61e; 
}

.fa-file-alt{
    font-size: 30px !important;
}

h3{
    padding: 30px 0px 15px 0px;
}

.skills{
    font-size: 3em;
    color: grey;
    margin-bottom: 15px;
}

li{
    list-style: none;
}

.row{
    margin-bottom: 15px;
}

.styleIcon{
    color: #90c61e !important;
    font-size: 30px;
    margin-bottom: 6px !important;
    margin-left: -5px;
}
.styleIcon :hover{
    color: yellow !important;
}

.footIcon{
    color: white !important;
}

.footIcon:hover { 
    color: yellow !important;
}

.cambio:hover{
    background-color: yellow;
    color: #37464f !important;
}

/* Stylos Modal */  

.styleModal{
    background-color: rgb(0, 0, 0) !important;
}

.modal-body{
    background-color:rgb(0, 0, 0) !important;
    text-align: center !important;
}

.modal-content{
    border:0px !important;
}

.btn-secondary{
    background-color: transparent !important;
    border-color: transparent !important;
}

.upIcon{ /* Icono Modal Close*/ 
    color: #90c61e;
    font-size: 70px;
}

.upIcon:hover { 
    color: yellow;
}

.inicioAnim{
    margin-top: 10px;
    color: white;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.inicioAnim:hover{ 
    color: #90c61e;
}

.sobreMi{
    margin-top: 10px;
    color: white;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.sobreMi:hover { 
    color: #90c61e;
}

.proyectos{
    margin-top: 10px;
    color: white;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.proyectos:hover { 
    color: #90c61e;
}

.contacto{
    color: white;
    margin-top: 10px;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.contacto:hover { 
    color:#90c61e;
}

.fa-github{
    color: white;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 30px;
}

.fa-github:hover { 
    color:  #90c61e;
}

.fa-linkedin-in{
    color: white;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 30px;
}

.fa-linkedin-in:hover{
    color:  #90c61e;
}

/* End Icono Modal Close*/ 
